<h1>Rock Paper Scissors Lizard Spock</h1>


<h1>Welcome <%= @player %>. Choose a weapon!</h1>

<form method='post' action='/results'>
  <input type="image" src='images/rockman.jpg' name="weapon" value="ROCK">
  <input type="image" src='images/paperman.jpg' name="weapon" value="PAPER">
  <input type="image" src='images/scissorsman.jpg' name="weapon" value="SCISSORS">
  <input type="image" src='images/lizardman.jpg' name="weapon" value="LIZARD">
  <input type="image" src='images/spock.jpg' name="weapon" value="SPOCK">
</form>
