<h1>Rock Paper Scissors Lizard Spock</h1>


<h1>Welcome <%= @player %>. Choose a weapon!</h1>

<form method='post' action='/results'>
  <input type="submit" name="weapon" value="ROCK">
  <input type="submit" name="weapon" value="PAPER">
  <input type="submit" name="weapon" value="SCISSORS">
  <input type="submit" name="weapon" value="LIZARD">
</form>
