<h2>Welcome <%= @player %>. Choose a weapon!</h2>

<form method='post' action='/results'>
  <section id='first_images'>
    <input id='weapon' type="image" src='images/rockman.jpg' name="weapon" value="ROCK">
    <input id='weapon' type="image" src='images/paperman.jpg' name="weapon" value="PAPER">
    <input id='weapon' type="image" src='images/scissorsman.jpg' name="weapon" value="SCISSORS">
  </section>
  <section id='second_images'>
    <input id='weapon' type="image" src='images/lizardman.jpg' name="weapon" value="LIZARD">
    <input id='weapon' type="image" src='images/spock.jpg' name="weapon" value="SPOCK">
  </section>
</form>
