<header>
  <h1>Rock Paper Scissors Lizard Spock</h1>
</header>

<form id='name' method='post' action='/game'>
  Enter your name: <input id='player' name="player" type="text">
  <input value="Start!" type="submit">
</form>
