<img src='images/home.gif'>

<form id='name' method='post' action='/game'>
  <input id='player' placeholder='Enter your name...' name="player" type="text">
  <input id='start' value="Start!" type="submit">
</form>
