<html>

  <head>
    <link rel='stylesheet' id='stylesheet'  href='reset.css' type='text/css'/>
    <link rel='stylesheet' id='stylesheet'  href='style.css' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <header>
      <h1>Rock Paper Scissors Lizard Spock</h1>
    </header>
    
    <%= yield %>
  </body>

</html>
