/*=========================
        LAYOUT
=========================*/

body {
  background: rgb(37, 37, 37);
}

body header {
  padding: 5% 0% 2% 0%;
}

body header h1 {
  color: white;
  text-shadow: 3px 3px #ff0000;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  font-size: 280%;
  padding: 0% 19% 0% 19%;
}

/*=========================
        HOMEPAGE
=========================*/

body img {
  display: block;
  margin: 4% auto 0% auto;
}

body form#name {
  text-align: center;
  padding: 2% 0% 2% 0%;
  margin: 3% 33% 0% 33%;
  display: block;
  font-family: 'Exo', sans-serif;
  font-size: 21px;
}

body form#name input#player {
  height: 30px;
  border-style: none;
  border-radius: 7px;
  padding:0px 5px 0px 5px;
  margin: 0px 0px 0px 8px;
}

body form#name input#start {
  height: 30px;
  border-style: none;
  border-radius: 6px;
  padding: 0% 3% 0% 3%;
  color: rgb(37, 37, 37);
  font-family: 'Exo', sans-serif;
  font-size: 14px;
}

/*=========================
        /GAME
=========================*/

body h2 {
  color: white;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  font-size: 190%;
  padding: 0% 19% 4% 19%;
}

body form {
  text-align: center;
  margin: 0% 0% 7% 0%;
}

body form input#weapon {
  border: 1px solid;
  width: 30%;
  margin: 0% 0.5% 1% 0%;
  transition: opacity 0.2s ease;
}

body form input#weapon:hover {
  box-shadow: 0px 0px 26px #fff;
}

/*=========================
        /RESULTS
=========================*/

body h3 {
  color: white;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  font-size: 195%;
  padding: 4% 19% 4% 19%;
}

body h4 {
  color: rgb(253, 29, 29);
  text-align: center;
  font-family: 'Russo One', sans-serif;
  font-size: 220%;
  padding: 0% 19% 4% 19%;
}
